<h2 class="text-center">Create an account</h2>

  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="text-center panel-title">
              I'm a student
          </h4>
        </div>
      </a>
      <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          <%= render 'users/person_sign_up' %>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        <div class="panel-heading" role="tab" id="headingTwo">
          <h4 class="text-center panel-title">
              We're a company
          </h4>
        </div>
      </a>
      <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body">
          <%= render 'users/company_sign_up' %>
        </div>
      </div>
    </div>
  </div>
</div>
