<h2 class="text-center">Sign up</h2>

  <div class="tabs">
    <a class="tab active" role="tab" data-toggle="tab" data-target="#person-sign-up-devise" aria-controls="person-sign-up-devise">
      <h3>I'm a student</h3> 
    </a>
    <a class="tab" role="tab" data-toggle="tab" data-target="#company-sign-up-devise" aria-controls="company-sign-up-devise">
      <h3>We're a company</h3>
    </a>
  </div>
  <div class="tab-content margin-top" id="person-sign-up-devise">
    <%= render 'users/person_sign_up' %>
  </div>
  <div class="tab-content margin-top hidden" id="company-sign-up-devise">
    <%= render 'users/company_sign_up' %>
  </div>
</div>
