#homepage-main-banner {
  background-size: cover;
  background-position: center;
  height: 100vh;
  min-height: 600px;
  position: relative;
  h1 {
    font-size: 50px;
    margin-top: -70px;
  }
  p {
    font-size: $base-size;
  }
  h2 {
    font-size: 20px;
    font-weight: 100;
  }
  #chevron {
    width: 30px;
  }
  #chevron-container {
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 15px;
    color: white;
    a {
      color: white;
    }
  }
  #chevron-box {
    width: 80px;
    height: 50px;
    margin: 0 auto;
  }
}

.homepage-banner-content {
  height: calc(100vh - 150px);
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: white;
}

#homepage-form-box {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px 25px 30px 25px;
  border-radius: 3px;
  margin-top: -100px;
  .simple_form {
    .form-control {
      background-color: rgba(255, 255, 255, 1 );
      color: $dark-gray;
      border: none;
    }
    .form-control::placeholder {
      color: #7F7F7F;
    }
  }
  .tab {
    color: white;
    &.active {
      border-bottom: 2px solid white;
    }
  }
  a {
    color: white;
  }
  .btn {
    width: 100%;
  }
  .homepage-form-button {

  }
}

#homepage-how {
  background-color: white;
  height: calc(100vh - 470px);
  min-height: 300px;
}

.info {
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 15px;
  }
  p{
    font-size: 12px;
  }
}

.icon-about {
  margin-top: 25px;
  height: 60px;
}
