#homepage-main-banner {
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5)), url('https://static.pexels.com/photos/28462/pexels-photo-28462.jpg');
  background-size: cover;
  background-position: center;
  height: 300px;
  color: white;
  .btn-primary {
    padding: 15px 95px;
  }
  p {
    font-size: 55px;
  }
  h2 {
    font-size: 28px;
    font-weight: 100;
  }
}

#homepage-what {
  background-color: white;
}

.info {
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 15px;
  }
  p{
    font-size: 12px;
  }
}

.icon-about {
  margin-top: 25px;
  height: 60px;
}
