.welcome-banner {
  min-height: 100vh;
  background-size: cover;
  #chevron {
    width: 30px;
  }
  #chevron-container {
    text-align: center;
    width: 100%;
    color: $brand-color;
    a {
      color: $brand-color;
    }
  }
  #chevron-box {
    width: 80px;
    height: 50px;
    margin: 0 auto;
  }
  .content {
    color: white;
    text-align: center;
    min-height: 80vh;

    .col-xs-12 {
      display: flex;
      align-items: center;
    }

    .left-welcome {
      width: 100%;
    }
  }
  h1 {
    font-size: 50px;
  }
  p {
    font-size: $base-size;
  }
  h2 {
    font-size: 20px;
    font-weight: 100;
  }
  .panel {
    background: transparent;
    border: none;
  }
  .panel-heading {
    background: rgba(0,0,0,0.4);
    border: 1px solid white;
    border-radius: 5px;
  }
  .panel-body {
    border-top: none;
    padding-top: 0;
  }
}


#homepage-sign-up-box {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 20px 25px 20px 25px;
  border-radius: 5px;
  .simple_form {
    .form-control {
      background-color: rgba(255, 255, 255, 1 );
      color: $dark-gray;
      border: none;
    }
    .form-control::placeholder {
      color: #7F7F7F;
    }
  }
  .tab {
    color: white;
    border-bottom: 2px solid transparent !important;
    &.active {
      border-bottom: 2px solid white !important;
    }
  }
  a {
    color: white;
  }
  .btn {
    width: 100%;
  }
  .homepage-form-button {
    background-color: $brand-color;
  }
}

#homepage-how {
  background-color: white;
  min-height: 350px;
  .btn {
    margin-top: 20px;
    margin-bottom: 50px;
  }
}

.info {
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 15px;
  }
  p{
    font-size: 12px;
  }
}

.icon-about {
  margin-top: 25px;
  height: 60px;
}


.three-about-sections {
  padding: 60px 0px;
  width: 100%;
}

@media (min-width: 1200px) {
  .content {
    .col-xs-12 {
      min-height: 80vh;
    }
  }
}

@media (max-width: 1200px) {
  #homepage-sign-up-box {
    margin-top: 20px;
  }
}

#homepage-what {
  background: $blue-gray;
  color: white;
}

#homepage-content {
  background: white !important;
}
