#profile-banner {
  height: 175px;
  background-size: cover;
  background-position: center;
}

#profile-avatar {
  border: 2px solid white;
  height: 110px;
  width: 110px;
  margin: 0 auto;

}

#avatar-container {
  height: 110px;
  margin-top: -75px;
}

#profile-page {
  h1 {
    margin: 10px 0 10px 0;
  }
  h2 {
    font-size: $base-size ;
    margin: 0 0 10px 0;
    font-weight: normal;
  }
  h3 {
    font-size: $base-size + 2px;
    margin: 0;
  }
  h4 {
    font-size: $base-size;
    margin: 5px 0 0 0;
    font-weight: normal;
  }
  hr {
    border-top: 1px solid $medium-gray;
  }
}

.card-header {
  height: 50px;
}

.shadow-box {
  position:relative;
  background-color: white;
  padding: 20px;
  box-shadow: 0px 2px 5px #CCCCCC;
}

.card-inline {
  hr {
    margin: 5px 0 10px 65px;
    border-top: 1px solid $light-gray;
  }
  h4 {
    font-weight: normal;
  }
}

.card-inline-date {
  height: 50px;
  display: flex;
  p {
    margin: 0;
  }
}

.sidebar-content {
  width: 100%;
  h4 {
    padding-left: 10px;
  }
  hr {
    margin: 0 0 20px 0;
  }
  .company {
    margin-bottom: 10px;
  }
}

.stat {
  margin: 0 0 20px 0;
  span {
    padding-left: 5px;
  }
}

.profile-icon {
  height: 35px;
  width: 50px;
}
