#profile-banner {
  height: 175px;
  background-size: cover;
  background-position: center;
}

#profile-avatar {
  border: 2px solid white;
  height: 110px;
  width: 110px;
  margin: 0 auto;

}

#avatar-container {
  height: 110px;
  margin-top: -75px;
}

h2 {
  font-size: $base-size ;
  margin: 0 0 20px 0;
}

h3 {
  font-size: $base-size + 2px;
  margin: 0;
}

h4 {
  font-size: $base-size;
  margin: 5px 0 0 0;
}

.card-header {
  height: 50px;
}

.card-inline {
  hr {
    margin: 5px 0 10px 65px;
    border: 1px solid #E6E6E6;
  }
}

.card-inline-date {
  height: 50px;
  display: flex;
  p {
    margin: 0;
  }
}
