.background-image {
	height: 130px;
	background-size: cover;
}

.card {
	h2 {
		margin-bottom: 0px !important;
	}
}

.wide-card {
	display: flex;
	justify-content: space-between;
	background-color: white;
	color: $charcoal;
	border-radius: 2px;
	border-bottom-right-radius: 20px;
	object-fit: cover;
	h2 {
		font-size: 24px;
		font-weight: lighter;
	}
	.image {
		background-size: cover;
		margin: 0px 20px;
		align-self: center;
	}
	.company-info {
		flex-grow: 1;
		margin: 0px 20px;
		align-self: center;
		p:first-child {
			margin-bottom: 10px;
		}
	}
	.project-metadata {
		margin: 0px 20px;
		align-self: center;
	}
	p {
		size: 16px;
		margin-bottom: 0px;
	}
}
