.welcome-section {
  background-color: $charcoal;
  color: white;
  height: 140px;
  h1 {
    font-weight: 100;
    margin: 0px;
  }
  img {
    padding-right: 20px;
  }
}

.user-dash-image {
  img {
    height:140px;
  }
}

.right-main {
  background-color: #fafafa;
  height: calc(100vh - 210px);
}

.right-dashboard {
  background-color: white;
  padding: 10px;
  height: calc(100vh - 210px);
}

.project-row {
  margin-top: 5px;
  background: white;
  border-radius: 5px;
  color: $dark-gray;
  padding: 5px 10px;
  border: 2px $light-gray solid;
  p {
    margin: 0px;
    width: 17vw;
  }
}

.project-header {
  margin-top: 15px;
  color: $dark-gray;
  padding: 5px 10px;
  p {
    margin: 0px 10px;
    font-weight: 600;
    width: 17vw;
  }
}

.full-width-button {
  width: 100%;
  padding: 5px;
}

#dashboard-scroll {
  overflow: scroll;
}
