.welcome-section {
  background-color: $charcoal;
  color: white;
  height: 140px;
  h1 {
    font-weight: 100;
    margin: 0px;
  }
}

.user-dash-image {
  img {
    height:140px;
  }
}

.right-main {
  background-color: #fafafa;
  height: 80vh;
}

.right-dashboard {
  background-color: white;
  padding: 10px;
  height: 100vh;
}
