<!-- Headers for projects table -->
<div class="col-lg-8">
  <div class="project-row flex-box">
    <div class="col-lg-3">
      <p>Project Name</p>
    </div>
    <div class="col-lg-3">
      <p>Project Owner</p>
    </div>
    <div class="col-lg-3">
      <p>Project Days Left</p>
    </div>
    <div class="col-lg-3">
      <p>View</p>
    </div>
  </div>
</div>
