<div class="project-row flex-box">
    <div class="col-lg-5">
      <p><%= participation.project.title[0..30] %>...</p>
    </div>
    <div class="col-lg-3">
      <p><%= participation.project.user.company_name %></p>
    </div>
    <div class="col-lg-2">
      <p><%= participation.project.days_left %></p>
    </div>
    <div class="col-lg-2">
      <p><%= link_to "View Project", project_path(participation.project), class: "btn btn-primary padding-none full-width-button" %></p>
    </div>
</div>
