<div class="project-header flex-box">
    <div>
      <p>Project</p>
    </div>
    <div>
      <p>Company</p>
    </div>
    <div>
      <p>Days</p>
    </div>
    <div>
      <p>Action</p>
    </div>
</div>
