<div class="project-header flex-between">
    <div>
      <p>Project</p>
    </div>
    <div>
      <p>Company</p>
    </div>
    <div>
      <p>Starred?</p>
    </div>
    <div>
      <p>Action</p>
    </div>
</div>
