<div class="project-header flex-box">
    <div class="col-lg-5">
      <p>Project</p>
    </div>
    <div class="col-lg-3">
      <p>Company</p>
    </div>
    <div class="col-lg-2">
      <p>Starred?</p>
    </div>
    <div class="col-lg-2">
      <p>Action</p>
    </div>
</div>
