<div class="project-row flex-between">
    <div>
      <p><%= participation.project.title[0..30] %>...</p>
    </div>
    <div>
      <p><%= participation.project.user.company_name %></p>
    </div>
    <div>
      <p class="answer-col"><% participation.project.days_left %></p>
    </div>
    <div>
      <p><%= link_to "View", project_path(participation.project), class: "btn btn-primary padding-none full-width-button" %></p>
    </div>
</div>
