<div class="project-row flex-box">
    <div class="col-lg-5">
      <p><%= contribution.project.title[0..30] %>...</p>
    </div>
    <div class="col-lg-3">
      <p><%= contribution.project.user.company_name %></p>
    </div>
    <div class="col-lg-2">
      <p><%= contribution.starred? %></p>
    </div>
    <div class="col-lg-2">
      <p><%= link_to "View File", cl_image_path(contribution.file.path), class: "btn btn-primary padding-none full-width-button" %></p>
    </div>
</div>
