<% if user.active_projects %>
  <div class="col-xs-12">
    <div class="margin-top">
      <h2>Open projects</h2>
      <hr>
      <div class="row">
        <!-- Project cards for active participations -->
        <% user.active_projects.each do |project| %>
          <div class="col-xs-12 col-lg-6">
            <%= render 'shared/card_open_project_no_imagery', project: project %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% elsif user == current_user %>
  <div class="col-xs-12 flex-around">
    <div class="margin-top">
      <div class="btn btn-primary">
        Discover projects
      </div>
    </div>
  </div>
<% end %>
