<!-- Left hand side column -->
<div class="row">
  <div class="col-xs-12 col-md-9">
    <div class="shadow-box text-center" id="user-info">
      <%= image_tag ('http://unsplash.it/50'), class: "avatar-large" %>
      <p>London, UK</p>
      <p>Voted top 100 startups UK</p>
    </div>
    <!-- Companies live projects -->
    <div class="shadow-box">
      <h2>Live projects</h2>
      <div class="card-inline">
        <div class="row">
          <div class="col-xs-12 col-lg-1">
            <%= image_tag ('http://placehold.it/50'), class: "avatar-large" %>
          </div>
          <div class="col-xs-12 col-lg-9">
            <h3>Project title</h3>
            <h4>Company name</h4>
          </div>
          <div class="col-xs-12 col-lg-2">
            <p>June 2017</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-12 col-lg-9 col-lg-offset-1">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim dolorem quia soluta unde perspiciatis suscipit sequi, nulla quae, sit assumenda eum, excepturi minus. Soluta vel animi harum, velit amet quia.</p>
          </div>
          <div class="col-xs-12 col-lg-2 text-center">
            <div class="btn btn-default">Check it out</div>
          </div>
        </div>
      </div>
    </div>
    <!-- Companies previous projects -->
    <div class="shadow-box ">
      <h2>Live proejects</h2>
      <div class="card-inline">
        <div class="row">
          <div class="col-xs-12 col-lg-1">
            <%= image_tag ('http://placehold.it/50'), class: "avatar-large" %>
          </div>
          <div class="col-xs-12 col-lg-9">
            <h3>Project title</h3>
            <h4>Company name</h4>
          </div>
          <div class="col-xs-12 col-lg-2">
            <p>June 2017</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-12 col-lg-9 col-lg-offset-1">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim dolorem quia soluta unde perspiciatis suscipit sequi, nulla quae, sit assumenda eum, excepturi minus. Soluta vel animi harum, velit amet quia.</p>
          </div>
          <div class="col-xs-12 col-lg-2 text-center">
            <div class="btn btn-default">Check it out</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Right hand side column -->
  <div class="col-xs-12 col-md-3">
    <div class="stats">
      <h2>Profile stats</h2>
      <p><strong>8</strong> Contributions</p>
      <p><strong>3</strong> Stars</p>
      <p><strong>27</strong> Upvotes</p>
      <p><strong>2</strong> Active projects</p>
    </div>
  </div>
</div>
