<% if user.active_participations %>
  <div class="col-xs-12">
    <div class="margin-top">
      <h2>Currently working on</h2>
      <hr id="above-card-hr">
      <div class="row">
        <!-- Project cards for active participations -->
        <% user.active_participations.each do |participation| %>
          <div class="col-xs-12 col-sm-6">
            <%= render 'shared/card_open_project_full_imagery', project: participation.project %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
