<div class="col-xs-12 col-sm-6 col-lg-12">
  <div class="sidebar-content margin-top">
    <h2>Favorite companies</h2>
    <hr>
    <div class="flex-box company">
      <%= image_tag ('http://placehold.it/50'), class: "avatar-small" %>
      <h4>Uber Ltd.</h4>
    </div>
    <div class="flex-box company">
      <%= image_tag ('http://placehold.it/50'), class: "avatar-small" %>
      <h4>Uber Ltd.</h4>
    </div>
    <div class="flex-box company">
      <%= image_tag ('http://placehold.it/50'), class: "avatar-small" %>
      <h4>Uber Ltd.</h4>
    </div>
    <div class="flex-box company">
      <%= image_tag ('http://placehold.it/50'), class: "avatar-small" %>
      <h4>Uber Ltd.</h4>
    </div>
  </div>
</div>
