<div class="col-xs-12 col-sm-6 col-lg-12">
  <div class="sidebar-content margin-top">
    <h3><i class="fa fa-certificate"></i> Top categories</h3>
    <hr>
    <% if user.top_categories.count > 0 %>
      <% user.top_categories.each do |category, frequency| %>
        <!-- <div class="flex-box sidebar-card"> -->
          <!-- <div> -->
            <h4 class="stat small-stat-padding">
              <%= image_tag 'star.svg', class: "profile-icon-tiny" %>
              <strong><%= frequency %></strong>
              <%= category %>
            </h4>
          <!-- </div> -->
        <!-- </div> -->
      <% end %>
    <% else %>
      <h4>No stars yet</h4>
    <% end %>
  </div>
</div>
