<!-- Left hand side -->
<div class="col-xs-12 col-lg-9">
  <!-- Nested row for contributions -->
  <div class="row">
    <div class="col-xs-12">
      <div class="shadow-box margin-top">
        <h2>Past contributions</h2>
        <!-- Contribution card -->
        <div class="card-inline margin-top">
          <div class="row">
            <div class="col-xs-12 col-lg-1 dynamic-align-left flex-box">
              <%= image_tag ('http://placehold.it/50'), class: "avatar-small" %>
            </div>
            <div class="col-xs-12 col-lg-8">
              <div class="card-header dynamic-align-left flex-box">
                <div>
                  <h3>Project title</h3>
                  <h4>Company name</h4>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-lg-3">
              <div class="card-inline-date flex-box dynamic-align-right">
                <p class="">December 2017</p>
              </div>
            </div>
          </div>
          <!-- Horizontal line -->
          <hr>
          <div class="row">
            <div class="col-xs-12 col-lg-9 col-lg-offset-1">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim dolorem quia soluta unde perspiciatis suscipit sequi, nulla quae, sit assumenda eum, excepturi minus. Soluta vel animi harum, velit amet quia.</p>
            </div>
            <div class="col-xs-12 col-lg-2 text-center">
              <div class="btn btn-default">Check it out</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



