<div class="page-wrapper">
  <div class="container">
      <div class="col-xs-12">
        <div class="margin-top flex-around" id="profile-banner" style="background-image: url('https://static.pexels.com/photos/149541/pexels-photo-149541.jpeg')">
        </div>
      </div>
    <!-- if its a person -->
    <%= render 'person' %>
    <!-- if its a company -->
  </div>
</div>
