<%= link_to user_path(user) do %>
	<div class="col-xs-12 col-md-10 col-md-offset-1">
		<div class="wide-card shadow-box margin-top">
			<div class="image">
				<%= cl_image_tag user.get_profile_picture, class: "avatar-xl" %>
			</div>
			<div class="company-info">
				<p><%= user.full_name %></p>
				<p><%= user.location %></p>
			</div>
			<div class="project-metadata">
				<p>3 projects open</p>
			</div>
		</div> 
	</div>
<% end %>