<div id="homepage-main-banner" class="flex-around" >
  <div class="text-center">
    <p><span style="font-weight: 100;">Build Your</span><span style="font-weight: 500;"> Portfolio</span></p>
    <h2>Work on real projects by real companies</h2>
    <br>
  </div>
</div>

<div id="homepage-what">
  <div class="container">
    <div class="col-xs-12 col-lg-10 col-lg-offset-1 margin-top margin-bottom">
      <div class="text-center">
        <h2>What do we do?</h2>
        <p>Maintaining a portfolio of your work has long been around for fields like tech and design. But for most other industries, the quality of your work often drowns out amongst crappy things like CVs, standardized tests, and who you know. We believe that people should first and foremost be judged on the quality of their work.</p>
      </div>
    </div>
  </div>
</div>

<%= render "how" %>
