<div id="homepage-main-banner" class="flex-around" >
  <div class="text-center">
    <h1>Build Your Portfolio.</h1>
    <h2>Contribute to real projects by real companies</h2>
    <br>
    <%= link_to search_path do %>
      <div class="btn btn-primary">Start browsing projects</div>
    <% end %>
  </div>
</div>

<%= render "how" %>
