<div id="homepage-main-banner" class="flex-around" >
  <div class="text-center">
    <p><span style="font-weight: 100;">Build Your</span><span style="font-weight: 500;"> Portfolio.</span></p>
    <h2>Contribute to real projects by real companies</h2>
    <br>
    <%= link_to search_path do %>
      <div class="btn btn-primary">Discover</div>
    <% end %>
  </div>
</div>

<%= render "how" %>
