<%= link_to(project) do %>
  <div class="flex-box similar-card" style="background-size: cover; linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)); background-image: url('<%= cl_image_path (project.user.get_cover_photo) %>')">
    <div class="about-similar">
      <h1><%= project.title %></h1>
      <p>by <%= project.user.company_name %></p>
    </div>
  </div>
<% end %>
