<div class="box-title">
  <p>Contributions:</p>
</div>
<div class="render">
<% if project.participations.length > 0 then %>
  <% project.contributions.each do %>
    <div class="col-lg-2">
      <%= render "contributions-card", project: @project %>
    </div>
  <% end %>
<% else %>
  <p>There were no contributions made on this project!</p>
<% end %>
</div>
