<p>Like the look of this project? Get started today by clicking join below!</p>
<%= link_to "Join Project", project_participations_path(@project), class: "btn btn-primary", method: :post, style: "width:100%" %>
