<p>It looks like the project you are trying to join has closed. Search for similar projects by clicking below!</p>
<%= link_to "Search Similar Projects", search_path, class: "btn btn-primary", style: "width:100%" %>
