/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Positioning
.flex-box {
  display: flex;
  align-items: center;
}

.flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// Spacing
.margin-top {
  margin-top: 30px;
}

// Backgrounds
.page-wrapper {
  background: $light-gray;
  min-height: 80vh;
}

// Standard white box with shadow
.shadow-box {
  background-color: white;
  padding: 20px;
  box-shadow: $box-shadow;
  position: relative;
}
