/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

body {
  background: $light-gray;
}

a:-webkit-any-link {
  text-decoration: none;
}

.devise-shared-links {
  margin-top: 10px;
  a {
    color: $charcoal;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Positioning
.flex-box {
  display: flex;
  align-items: center;
}

.flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-right {
  text-align: right;
}

// Spacing
.margin-top {
  margin-top: 30px;
}

.margin-bottom {
  margin-bottom: 30px;
}

// Backgrounds
.page-wrapper {
  min-height: calc(100vh - 70px - 190px);
}

.page-wrapper-footerless {
  min-height: calc(100vh - 70px);
}

.bg-white {
  background-color: white;
}

.bg-grey {
  background-color: $light-gray;
}

// Remove default margin and padding

.no-margin {
  margin-right: 0px;
}

// Standard white box with shadow
.shadow-box {
  background-color: white;
  padding: 20px;
  box-shadow: $box-shadow;
  position: relative;
}

// Dynamic positioning
@media (min-width: 0px) {
  .dynamic-align-left {
    justify-content: space-around;
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .dynamic-align-left {
    justify-content: flex-start;
    text-align: left;
  }
}

@media (min-width: 0px) {
  .dynamic-align-right {
    justify-content: space-around;
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .dynamic-align-right {
    justify-content: flex-end;
    text-align: right;
  }
}
