.card {
  background: transparent;
  color: $dark-gray;
  text-decoration: none;
  margin: 15px 0px;
  &:hover {
    box-shadow: $box-shadow-hover;
    -webkit-transition: all 0.2s ease;
    text-decoration: none;
  }
}

.card-border {
  border-radius: 2px;
  box-shadow: $box-shadow;
  background-color: white;
}

.card-banner {
  background-size: cover;
  background-position: center;
  height: 120px;
  p {
    padding: 15px 0 0 15px;
    color: white;
    margin-bottom: 0;
  }
}

.card-body {
  height: 125px;
  position: relative
}

.card-avatar {
  margin: 0 auto;
  margin-top: 28px;
}

.card-info-imagery {
  margin: 77px 0 0 0;
}

.card-info {
  text-align: center;
  h2 {
    font-size: $base-size + 1px !important;
    font-weight: bolder !important;
  }
  h3 {
    font-size: $base-size !important;
    font-weight: lighter !important;
    margin-top: 15px !important;
  }
}

.card-info-fixed-height {
  height: 35px;
}

.card-footer-absolute {
  position: absolute;
}

.card-footer {
  bottom: 15px;
  width: 100%;
  border-top: 1px solid $light-gray;
  padding-top: 15px;
  span {
    margin: 0;
    font-size: $base-size - 2px;
  }
}

.horizontal-card-content {
  padding: 15px;
  h2 {
    margin: 5px 0 15px 0;
  }
}

.brief {
  padding: 0px !important ;
  height: 20px;
  width: 100%;
  p {
    font-size: 12px;
    text-decoration: none;
  }
}

.full_name {
  position: absolute;
  top: 15px;
  right: 50px;
  p {
    font-size: 12px;
  }
}

.project_information {
  margin-top: 10px;
}

.title {
  height: 50px;
}

.cover-image {
  height: 130px;
  background-size: cover;
}

.padding-none {
  padding: 0;
}

.project-card {
  color: black;
  position: relative;
  font-weight: lighter;
  h2 {
    font-size: 22px;
    font-weight: lighter;
  }
  h3 {
    font-size: 18px;
    font-weight: lighter;
  }
  img {
    position: absolute;
    top: 75px;
    left: calc(50% - 55px);
  }
  .image {
    height: 130px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    background-size: cover;
    object-fit: cover;
    background-position: center;
    .card-category {
      color: white;
      position: absolute;
      top: 20px;
      left: 20px;
      font-size: $base-size;
      font-weight: normal;
    }
  }
}

.wide-card {
  display: flex;
  justify-content: space-between;
  background-color: white;
  color: $charcoal;
  border-radius: 2px;
  object-fit: cover;
  h2 {
    font-size: 24px;
    font-weight: lighter;
  }
  .image {
    background-size: cover;
    margin: 0px 20px;
    align-self: center;
  }
  .company-info {
    flex-grow: 1;
    margin: 0px 20px;
    align-self: center;
    p:first-child {
      margin-bottom: 10px;
    }
  }
  .project-metadata {
    margin: 0px 20px;
    align-self: center;
  }
  p {
    size: 16px;
    margin-bottom: 0px;
  }
}

.individual-search-card {
  p {
    margin: 0 0 0 10px;
  }
  .card-icons {
    text-align: center;
  }
  .profile-icon-tiny {
    margin: 0;
  }
  p, span {
    color: $dark-gray !important;
  }
  &:hover {
  box-shadow: $box-shadow-hover;
  -webkit-transition: all 0.2s ease;
  }
}

.flex-icon {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 5px 0;
  span {
    margin-left: 5px;
    color: $charcoal !important;
    font-size: $base-size - 1px;
  }
}

#profile-pic-only {
  position: absolute;
  top: -40px;
}
