.tabs {
  background: none;
  display: flex;
  box-sizing: border-box;
}
.tabs a {
  color: $charcoal;
}

.tabs {
  h3 {
    font-size: $base-size;
    font-weight: normal;
    margin: 0;
  }
}

.tabs .active {
  h3 {
    font-weight: bolder;
  }
}

.tabs p {
  opacity: 0.5;
  margin-bottom: 0;
}
.tab {
  width: 50%;
  text-align: center;
  padding: 20px 0 10px 0;
  transition: all 0.2s ease;
  box-sizing: border-box;
  &:hover {
  cursor: pointer;
  text-decoration: none;
  opacity: 0.8;
  }
}
.tab-transparent{
  border-bottom: 3px solid transparent;
}

.tab:first-child {
  border-radius: 10px 0 0 0;
}
.tab:last-child {
  border-radius: 0 10px 0 0;
}
.tab.active {
  background: transparent;
  color: $blue-gray;
  border-bottom: 3px solid $blue-gray;
  transition: all 0.1s ease;
}

.tab-content p {
  font-size: 30px;
  font-weight: bold;
}
.tab-fix-width {
  width: 150px;
}
